<form method="post" action="{{ path('admin_hour_delete', {'id': hour.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer?');" class="bg-white">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hour.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
