{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Editer horaires{% endblock %}

{% block body %}
    <h1>Editer horaires</h1>

    {{ include('admin/hour/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('admin_hour_index') }}" class="btn btn-secondary">Retour</a>

    {{ include('admin/hour/_delete_form.html.twig') }}
{% endblock %}
