{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Creer un horaire{% endblock %}

{% block body %}
    <h1>Creer un horaire</h1>

    {{ include('admin/hour/_form.html.twig') }}

    <a href="{{ path('admin_hour_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
