<section id="opening-hours-section" class="container mt-6 mb-6">
	<div class="sect-horaires">
		<h2 class="text-center">Horaires d'ouverture</h2>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="card mb-3">
					<div class="card-body">
						{% for hour in hours %}
							<p>
								<span class="fw-bold">{{ static_call('App\\Enum\\DaysEnum', 'getName', hour.day) }}:</span>
								{% if hour.closed %}
									Fermé
								{% else %}
									{{ hour.startDate|date('H:i') }}
									-
									{{ hour.endDate|date('H:i') }}
								{% endif %}
							</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
