<section id="opening-hours-section" class="container mt-6 mb-6">
	<div class="sect-horaires">
		<h2 class="text-center">Horaires d'ouverture</h2>
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">Lundi - Vendredi</h5>
						<p class="card-text">9:00 h - 18:00 h</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">Samedi</h5>
						<p class="card-text">9:00 h - 14:00 h</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">Dimanche</h5>
						<p class="card-text">Fermé</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
