<section id="services" class="m-0">
	<div class="img-background">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading text-uppercase">Présentation des services</h2>
					<div class="title-service">
						<h3 class="section-subheading text-muted fw-bold">Nos services sont conçus pour répondre à tous vos
							                  besoins automobiles</h3>
					</div>
				</div>
			</div>
			<div class="row text-center">

				<div class="col-md-4 section-service">
					<h4 class="service-heading">Entretien de véhicules</h4>
					<p class="text-muted">Nous offrons des services d'entretien régulier pour assurer le bon fonctionnement de
						                votre véhicule.</p>
				</div>
				<div class="col-md-4 section-service">
					<h4 class="service-heading">Réparations véhicules</h4>
					<p class="text-muted">Notre équipe de techniciens qualifiés peut diagnostiquer et réparer tous les
						                problèmes que votre voiture pourrait rencontrer.</p>
				</div>
				<div class="col-md-4 section-service">
					<h4 class="service-heading">Vente de véhicules d'occasion</h4>
					<p class="text-muted">Nous proposons une large gamme de véhicules d'occasion de qualité à des prix
						                compétitifs.</p>
				</div>
			</div>
		</div>
	</div>
</section>
