{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block body %}
    <h1 class="m-4">Ajouter un véhicule</h1>

    {{ include('admin/cars/_form.html.twig') }}

    <a href="{{ path('admin_cars_index') }}" class="btn btn-secondary m-3">Retour</a>
{% endblock %}
